/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*p {
    font-family: 'Roboto', sans-serif;
}*/
h1 {
  /*display: inline-block;
  vertical-align: middle;
  line-height: normal;*/
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 90px;
}