<form id="form1" routerLinkActive="active-link">
  <div id="div1" fxLayout="column" fxLayoutAlign="center center">
    <h1>
      <a href="http://frontend.howard.test:4200/">Ina</a>
    </h1>

    <div fxLayout="row" fxLayout="center center">
      <div class="wrapper">
        <!--Search icon. Search query upon click-->
        <i class="material-icons white" (click)="search()">search</i>
        <!--<md-input-container routerLink="/trend.component.html">-->
        <md-input-container>
          <input mdInput [(ngModel)]="term" (ngModelChange)="hideElement=true" (keyup.enter)="search()"
          name="term" placeholder="" type="text">
        </md-input-container>
        <!--Clear icon Clears search query upon click-->
        <i class="material-icons white small" (click)="term=''" (click)="hideElement=false"
         *ngIf="hideElement">clear</i>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</form>