<form routerLinkActive="active-link">
  <div id="div1" fxLayout="column" fxLayoutAlign="center center">
    <h1>
      Ina
    </h1>

    <div fxLayout="row" fxLayout="center center">
      <div>
        <md-input-container routerLink="/trend.component.html">
          <input mdInput [(ngModel)]="term" name="term" placeholder="" type="text" required>
        </md-input-container>
      </div>
      <div>
        <i class="material-icons white" (click)="search()">search</i>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</form>