<div fxLayoutAlign="center center">
  <div>
    <ul>
      <div>
        <li *ngFor="let result of results"><!--iterates through an array and displays the results-->
          <md-card><!--places each result within a card-->
            <md-card-content>
              {{ result }}
              <br>
              <a href="http://{{linker(result)}}" target="_blank"> {{linker(result)}}</a>
            </md-card-content>
          </md-card>
        </li>
      </div>
    </ul>
    <div fxLayoutAlign="center"><!--implementation of pagination-->
      <button (click)="pagePrev()">prev</button><!--moves to a previous page-->
        {{pagenum}}<!--current page number-->
      <button (click)="pageNext()">next</button><!--moves to the next page-->
    </div>
  </div>
</div>